@import "hero", "about", "tech-box-container", "projects", "contact", "footer";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #45474a;
  font-family: "Raleway", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}q

h2 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 46px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 91px;
  letter-spacing: 2.5px;
  transition: 1s;
}

